<div id="<%= dom_id main %>">
  <p>
    <strong>Character:</strong>
    <%= main.Character %>
  </p>

  <p>
    <strong>Win rate:</strong>
    <%= main.Win_rate %>
  </p>

  <p>
    <strong>Best stage:</strong>
    <%= main.Best_Stage %>
  </p>

  <p>
    <strong>Worst stage:</strong>
    <%= main.Worst_Stage %>
  </p>

</div>
